.navbar {
	padding: 1.5rem;
	border-bottom: 2px solid #b1b2b3;
	text-align: center;
}

.blockBtn {
	display: none;
}

.blockBtn.show {
	display: block;
}

.navbar__item__btn {
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	margin: 1rem auto 0;
	cursor: pointer;
	width: 80%;
}

.button {
	position: absolute;
	top: 8px;
	right: 20px;
	font-size: 2rem;
}

/* LIGHT MODE */

.navbarLight {
	padding: 1.5rem;
	border-bottom: 3px solid #121212;
	text-align: center;
	background: #FAF0C5;
}

.buttonLight {
	position: absolute;
	top: 8px;
	right: 20px;
	font-size: 2rem;
}

.buttonLight i {
	color: #121212;
}

.navbarLight .navbar__item__btn {
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	margin: 1rem auto 0;
	cursor: pointer;
	width: 80%;
	color: #121212;
}

@media screen and (min-width: 768px) {

	.button {
		display: none;
	}

	.navbar {
		background-color: #b1b2b3;
		padding: 1rem;
		position: fixed;
		top: 0;
		width: 100%;
		border-bottom: none;
		z-index: 2;
	}

	.navbarLight {
		background-color: #121212;
		padding: 1rem;
		position: fixed;
		top: 0;
		width: 100%;
		border-bottom: none;
		z-index: 2;
	}

	.blockBtn {
		display: flex;
		justify-content: space-evenly;	
	}

	.navbar__item__btn {
		font-size: 2rem;
		color: #121212;
		margin-top: 0;
	}

	.navbarLight .navbar__item__btn {
		font-size: 2rem;
		color: #FAF0C5;
		margin-top: 0;
	}

	.active {
		padding: 3px 5px;
		color: #FAF0C5;
		background: #121212;
		border-radius: 5px;
	}

	.navbarLight .active {
		padding: 3px 5px;
		color: #121212;
		background: #FAF0C5;
		border-radius: 5px;
	}

	.navbar__item__btn:hover {
		text-decoration: underline;
	}
}