.navbar {
	padding: 1.5rem;
	border-bottom: 1px solid #FAF0C5;
	text-align: center;
}

.blockBtn {
	display: none;
}

.blockBtn.show {
	display: block;
}

.navbar__item__btn {
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	margin: 1rem auto 0;
	cursor: pointer;
	width: 80%;
}

.button {
	position: absolute;
	top: 8px;
	right: 20px;
	font-size: 2rem;
}

@media screen and (min-width: 768px) {

	.button {
		display: none;
	}

	.navbar {
		background-color: #FAF0C5;
		padding: 1rem;
		position: fixed;
		top: 0;
		width: 100%;
		border-bottom: none;
		z-index: 2;
	}

	.blockBtn {
		display: flex;
		justify-content: space-evenly;	
	}

	.navbar__item__btn {
		font-size: 2rem;
		color: #121212;
		margin-top: 0;
	}

	.active {
		padding: 3px 5px;
		color: #FAF0C5;
		background: #121212;
		border-radius: 5px;
	}

	.navbar__item__btn:hover {
		text-decoration: underline;
	}
}